<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Product</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
</head>
<body>
    <div align="center" class="col-lg-12">
        <h1>Edit Product</h1>
        <br />
   
        <form id="formupdateProducto" name="formupdateProducto" action="#" th:action="@{/save}" th:object="${product}"
            method="post">
     <div class="col-md-12">
     <input type="text" th:field="*{id}" readonly="readonly" style="visibility:hidden"/>
          <div class="form-group col-md-6">
               <label for="txtName" class="col-sm-4 control-label">Product Name:</label>
            <div class="col-md-8">
                 <input type="text" id="txtName" name="txtName" class="form-control" th:field="*{name}"/>
            </div>
          </div>
          
         <div class="form-group col-md-6">
               <label for="txtBrand" class="col-md-4 control-label">Brand:</label>
            <div class="col-md-8">
                 <input type="text" id="txtBrand" name="txtBrand" class="form-control" th:field="*{brand}"/>
            </div>
          </div>
  
  	
  	</div> 
  	
  	<div class="col-md-12">
          <div class="form-group col-md-6">
               <label for="txtMade" class="col-sm-4 control-label">Made In:</label>
            <div class="col-md-8">
                 <input type="text" id="txtMade" name="txtMade" class="form-control" th:field="*{madein}"/>
            </div>
          </div>
          
         <div class="form-group col-md-6">
               <label for="txtPrice" class="col-md-4 control-label">Price:</label>
            <div class="col-md-8">
                 <input type="number" id="txtPrice" name="txtPrice" step="any" class="form-control" th:field="*{price}"/>
            </div>
          </div>
  
  	
  	</div>
  	<div class="form-group col-md-12">
  	<button id="btnSave" type="button" class="btn btn-success" ><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
  	
  	<button id="btnBack" type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back</button>
  	</div>
  	 
    
          
        </form>
    </div>
   	 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     <script type="text/javascript" th:src="@{/Js/actualizarProducto.js}"></script>
</body>
</html>