<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Managers</title>
 <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
       
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
</head>
<body>

<div align="center">
    
   <h1 th:text = "#{welcome.text}"></h1>
    <button id="btnCrea" type="button" class="btn btn-secondary" ><a href="/new"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create New Produc</a></button>
           <input type="text" id="txtBrand" name="txtBrand"/>
           <button id="btnBuscar" type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Search Brand</button>
  			<input type="number" id="txtPrice" name="txtPrice"/>
  			<button id="btnFind" type="button" class="btn btn-warning" ></span> find by Price</button>
  			
    <br/><br/>
     
    <div class="table-responsive">
    <table id="tblP"  class="table table-bordered table-condensed table-striped js-dataTable-full-pagination-Fixed">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Made In</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${product.id}">Product ID</td>
                <td th:text="${product.name}">Name</td>
                <td th:text="${product.brand}">Brand</td>
                <td th:text="${product.madein}">Made in</td>
                <td th:text="${product.price}">Price</td>
                <td>
               
				<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
				 &nbsp;&nbsp;&nbsp;
				<a th:href="@{'/delete/' + ${product.id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>   
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script type="text/javascript" th:src="@{/Js/index.js}"></script>

</body>
</html>